* {
    box-sizing: border-box;
}

html {
    --offset: 15px;
    --primary-color: #444347;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.registration {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 80px 0px 80px 0px;
    background-color: #f5f5f5;
}

.row {
    display: flex;
    width: 1024px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #d4d4d4;
}

#registration-image {
    background-image: url(mountains-2.jpg);
    width: 450px;
    max-height: 100%;
    background-size: cover;
    background-position: center top;
    border-radius: 15px 0px 0px 15px;
    position: static;
}

.registration-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 40px;
    width: calc(1024px - 450px - 80px);  
}

h1 {
    font-weight: 800;
    font-size: 24px;
    color: #90777b;
}

.data-section {
    border-bottom: 1px solid #e5e5e5;
}

.data-input {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--offset);
    margin: 30px 0px;
}

.data-field {
    width: calc((100% - var(--offset))/2);
    margin-bottom: 10px; 
}

.label {
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-color); 
}

.text-input {
    color: var(--primary-color);
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    margin-top: 5px;
    padding: 5px 10px;
}
 
.text-input:focus {
    box-shadow: 0 0 0 2px #90777b ;  
}

.address-section {
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0px;
}

h2 {
    font-weight: 700;
    font-size: 18px;
    color: var(--primary-color);
}

.address-input {
    display: flex;
    flex-wrap: wrap;
    gap: var(--offset);
    margin-top: 30px;
}

.address-field {
    width: calc((100% - var(--offset)*2)/3);
    flex-grow: 1;
    margin-bottom: 10px;
}

.notification-section {
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0px;
}

.notification-text {
    font-size: 16px;
    color: #737373;
    line-height: 20px;
    margin: 20px 0px;
}

.notification-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
    
.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}    
 
.checkmark {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

.checkmark:checked {
    background-color: var(--primary-color);
    background-image: url(checkmark_icon.png);
    background-position: center;
    background-size: contain;
}

footer {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.button {
    background-color: #90777b;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 10px 20px 10px 20px;
    width: 100%;
}

.button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}